[Desktop Entry]
Name=Hiddify
Comment=Multi-platform proxy client based on Sing-box
Exec=hiddify
Icon=app_icon.png
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=proxy;vpn;tunnel;privacy;network;
StartupNotify=true
StartupWMClass=hiddify
